.blogPage {
  display: flex;
  justify-content: center;
  min-height: 100vh;

  .blogPageCon {
    max-width: 100%;
    width: 50rem;
    padding: 3rem 1rem;
    box-sizing: border-box;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;

    .imageThumbnail {
      width: 100%;
      max-width: 100%;
      aspect-ratio: 16/11;
      overflow: hidden;
      border-radius: 0.5rem;
      border: var(--text-color) solid 2px;
      margin-bottom: 0.5rem;
      display: flex;
      align-items: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    > h4 {
      opacity: 0.8;
    }
    h2 {
      font-family: YoungSerif;
      text-align: center;
      margin-bottom: 0.5rem;
    }
    > p {
      margin-bottom: 2rem;
    }
    .article {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      border-bottom: var(--text-color) solid 1px;
      padding-bottom: 1rem;
      margin-bottom: 1rem;

      article {
        h3 {
          margin-bottom: 1rem;
        }
        p {
          text-indent: 2rem;
          font-size: clamp(0.8rem, 3vw, 1rem);
        }
      }

      .img {
        width: 30rem;
        max-width: 100%;
        aspect-ratio: 16/11;
        overflow: hidden;
        display: flex;
        align-items: center;
        border-radius: 0.5rem;

        img {
          width: 100%;
        }
      }
    }
    a {
      color: var(--text-color);
      text-decoration: none;
      background-color: var(--secondary-color);
      padding: 0.5rem 2rem;
      border-radius: 0.5rem;
      width: 50%;
      font-size: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .btn {
      width: 100%;
      display: flex;
      margin-bottom: 1rem;
      gap: 1rem;

      button {
        width: 50%;
        color: var(--text-color);
        text-decoration: none;
        background-color: var(--secondary-color);
        padding: 0.5rem 2rem;
        border-radius: 0.5rem;
        border: none;
        font-size: 1rem;
      }
      .disabled {
        width: 50%;
        color: var(--text-color);
        text-decoration: none;
        background-color: color-mix(
          in srgb,
          var(--secondary-color) 70%,
          var(--text-color) 30%
        );
        padding: 0.5rem 2rem;
        border-radius: 0.5rem;
        border: none;
        font-size: 1rem;
        cursor: not-allowed;
      }
    }
  }
}
