.projectsWrap {
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.project {
  width: 45rem;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  background-color: #474747;
  position: sticky;
  top: calc(15vh);
  box-shadow: black 0rem 0.3rem 0.5rem;
  margin-block: 6rem;
  cursor: pointer;
  box-sizing: border-box;
  max-width: 60%;
}
.projectCon {
  /* width: 100%; */
  aspect-ratio: 16/9;
  border-radius: 1rem;
  overflow: hidden;
  margin: 1rem;
  margin-bottom: 0;
  border: white solid 3px;
  box-sizing: border-box;
}
.projectCon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project > h3 {
  padding: 0.5rem 2rem;
  padding-bottom: 1rem;
  color: white;
  font-size: clamp(0.8rem, 3vw, 1.3rem);
  white-space: nowrap;
  width: 35ch;
  overflow: hidden;
  text-overflow: ellipsis;
}

.proCount {
  position: absolute;
  right: 99%;
  top: 2rem;
  height: 2rem;
  width: 7.5rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  background-color: #474747;
  display: flex;
  align-items: center;
  padding-inline: 1rem;
  box-sizing: border-box;
}
.proCount p {
  color: white;
  font-size: 0.8rem;
  white-space: nowrap;
  width: 10ch;
  overflow: hidden;
  text-overflow: ellipsis;
}

.proCount2 {
  top: calc((2rem * 2) + (0.3rem * 1));
}
.proCount3 {
  top: calc((2rem * 3) + (0.3rem * 2));
}
.proCount4 {
  top: calc((2rem * 4) + (0.3rem * 3));
}
.proCount5 {
  top: calc((2rem * 5) + (0.3rem * 4));
}
.proCount6 {
  top: calc((2rem * 6) + (0.3rem * 5));
}

@media (max-width: 750px) {
  .proCount {
    display: none;
  }
  .project {
    max-width: 90%;
  }
}
