@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@font-face {
  font-family: YoungSerif;
  src: url(./components/fonts/YoungSerif-Regular.ttf);
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  /* background-color: rgba(0, 128, 0, 0.144); */
}
:root {
  --background-color: #efefef;
  --text-color: #000000;
  --accent-color: #ff0000;
  --secondary-color: #ffffff;

  --firstColor: #ffff00cc;
  --secondColor: #ffa600cc;
  --thirdColor: #ff0000cc;
  --filter: invert(0) contrast(50) brightness(0);
}

html.dark {
  --background-color: #121212;
  --text-color: #ffffff;
  --accent-color: #ff4d4d;
  --secondary-color: #1e1e1e;

  --firstColor: #74580fcc;
  --secondColor: #7c370bcc;
  --thirdColor: #920a0acc;
  --filter: invert(100) brightness(50) contrast(0);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: sans-serif;
  transition: background-color 0.5s ease;
}

.tooltip {
  pointer-events: none;
}
.topF {
  height: 8vh;
}
/* div {
  border: red solid 1px;
} */
